body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background: url('claciii.jpeg') no-repeat center center fixed;
}

.calculator {
    background-color: #4da6ff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 300px;
    padding: 20px;
}

#display {
    background-color: #e6f2ff;
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
    min-height: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #3399ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.btn.operator {
    background-color: #2675bf;
}

.btn:hover {
    background-color: #0073e6;
}

.btn.operator:hover {
    background-color: #005bb5;
}
